{:paths ["src"]
 :deps {org.clojure/clojure {:mvn/version "1.11.1"}
        babashka/fs {:mvn/version "0.4.19"}
        com.cognitect.aws/api {:mvn/version "0.8.686"}
        com.cognitect.aws/cloudformation {:mvn/version "848.2.1400.0"}
        com.cognitect.aws/endpoints {:mvn/version "1.1.12.504"}
        com.cognitect.aws/route53 {:mvn/version "847.2.1365.0"}
        com.cognitect.aws/s3 {:mvn/version "848.2.1413.0"}
        com.rpl/specter {:mvn/version "1.1.4"}
        medley/medley {:mvn/version "1.4.0"}
        org.clojure/data.json {:mvn/version "2.4.0"}
        party.donut/system {:mvn/version "0.0.218"
                            :exclusions [tailrecursion/cljs-priority-map]}}
 :aliases
 {:antq
  {:deps
   {com.github.liquidz/antq {:mvn/version "2.7.1133"}
    org.slf4j/slf4j-nop {:mvn/version "2.0.9"}}
   :main-opts ["-m" "antq.core"]}
  :build
  {:deps {io.github.seancorfield/build-clj
          {:git/tag "v0.9.2" :git/sha "9c9f078"}}
   :ns-default build}
  :test
  {:extra-deps
   {; Used by malli.generator/-re-gen
    com.gfredericks/test.chuck {:mvn/version "0.2.14"}
    hashp/hashp {:mvn/version "0.2.2"}
    lambdaisland/kaocha {:git/url "https://github.com/insilica/kaocha.git"
                         :sha "811d37448e10b52e78dd2ef6ba95535e59f6bbda"}
    lambdaisland/kaocha-cloverage {:mvn/version "1.1.89"}}
   :extra-paths ["test"]}}}
