#kaocha/v1
 {:kaocha.plugin.capture-output/capture-output? true
  :parallel true
  :parallel-threads 4
  :plugins [:kaocha.plugin/print-invocations]
  :tests [{:source-paths ["components/cloudformation/src"]
           :test-paths ["components/cloudformation/test"]}]}
