{:linters
 {:refer-all {:level :off}
  :consistent-aliases
  {:aliases
   {clojure.data.json json
    clojure.java.shell sh
    com.rpl.specter sp
    donut.system ds
    malli.core m
    malli.util mu
    medley.core me
    salmon.cloudformation cfn
    salmon.resource.certificate cert
    salmon.route53 r53
    salmon.s3 s3
    salmon.signal sig
    salmon.test test
    salmon.uberjar uber
    salmon.util u
    salmon.validation val}}}
 :lint-as
 {babashka.fs/with-temp-dir clojure.core/with-open
  salmon.test/with-system clojure.core/with-open
  salmon.test/with-system-delete clojure.core/with-open
  salmon.util.interface/with-temp-file! clojure.core/with-open}
 :output
 {:exclude-files ["build.clj"]}}
