{:deps {org.clojure/data.json {:mvn/version "2.4.0"}
        club.donutpower/system {:sha "5f09466d80a6e403c38c2472124dfaa8f660203c"
                                :git/url "https://github.com/donut-power/system.git"}
        medley/medley {:mvn/version "1.4.0"}}}
